html, body {
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #333;;
  font-size: 16px;
}
body, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin:0
}
li, ul {
  padding:0;
  list-style: none;
}
ul.list-no-style {
  list-style:none outside none;
}
.el-divider {
  background-color: #EBEEF5;
}
.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.order-container {
  max-width: 1000px;
  margin: 0 auto !important;
}